@font-face {
    font-family: montserrat-light;
    src: url('../page_estatica/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: montserrat-semibold;
    src: url('../page_estatica/fonts/Montserrat-SemiBold.ttf');
}
@media (min-width: 1200px){
.container {
    max-width: 960px !important;
    width: auto !important;
    }
}
.hover-line:hover{
    border-bottom: 1px solid #fff;
    transition: 1s;
    color: #fff;
}

.background-home{
    background: rgba(105, 28, 72, 1);
    height: 500px;
}
.background-conteudo{
    background: linear-gradient(225deg, rgba(105, 28, 72, 0.5), rgba(105, 28, 72, 0.7))
    , url("../page_estatica/1ls5635289245409295322.jpg") no-repeat;
    background-size: cover;
    width: auto;
    max-height:auto;
    height: 500px;
}
.line-border{
    border-top: 2px solid #fff;

}
.ajust-text-conteudo{
    font-weight: bold;
    font-style: italic;
}

.background-img{
    background-image: linear-gradient(rgba(105, 28, 72, 0.7), rgba(105, 28, 72, 0.6)), url("forte.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    height: 660px;
}

.background-about{
    background: url("../page_estatica/img/igreja_se/background-about01.png") no-repeat;
    background-size: cover;
}
.text-nav{
    color: white;
    font-family: 'montserrat-semibold';
    
}

.text-color{
    color: white !important;
    font-family: 'montserrat-light';
    
}

.background-footer{
    background: rgba(105, 28, 72, 1);
    height: 500px;
}

.ajuste-tela, .row{
    margin-right: 0 !important;
}
#scroll-d {
    animation:bounce 3s infinite;
    cursor: pointer;
  }
  
  @keyframes bounce {
    0%       { top:450px; }
    25%, 75% { top:455px; }
    50%      { top:460px; }
    100%     {top:445px;}
  }

.ajust-title-conteudo{
    color: #707070;
    letter-spacing: 4px;
    border-spacing: 2px
}


.line-border-title{
    border-top: 2px solid #fff;
}

.color-input, .color-input:focus{
    color: white;
    text-transform: none;
    background-image: white;
}

.nav-ajust{
    margin-top: 2em;
    font-size: 16px;
    color: white;
}

.add-line{
   background: black;
    margin-left: 4em;
    height: 50px;
    width: 1px;
}
.add-line-left{
    background: black;
    margin-left: 4em;
    height: 2px;
    width: 12px;
}
#line_down, #line_left {
    position: relative;
    cursor: pointer;
  }
#scroll-d {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: #F0FFFF;
    font-size: 6em;
    font-weight: 200;
  }
.buttom-responsive{
    display: none;
}
.icon-ajust{
display: none;
}
.shadow-img{
    box-shadow: 3px 5px 4px -1px rgba(1,1,1,1);
}
.background-article{
    background: url("../page_estatica/img/igreja_se/backgrund-se.png") no-repeat fixed;
    background-size: cover;
    width: 100%;
}
.background-article-nsra{
    background: url(../page_estatica/img/igreja_se/background-se03.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
}

@media (max-width:720px){
    .header-itens{
        display: none;
    }
.background-menu{
  background: #ffff;
    z-index: 6;
    font-size: 16px;
    height: 630px;
    width: 320px;
    position: fixed;
    display: block !important;
    bottom: 0;
    top: 0;
    transition: 1s;
}
.nav-ajust{
    margin-top: 2em;
    font-size: 12px;
}

    .nav-menu{
        position: fixed;
        z-index: 6;
        right: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 -1px rgba(84,50,67,.1);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 52px;
    }
    .nav-menu::-webkit-scrollbar {
        display: none; }
        a{
            transition: color .2s,transform .2s,opacity .2s;
            transform-origin: center center;
            text-decoration: none;
            color: inherit;
            position: relative;
            background: transparent;
        }
        
        .nav-item{
            flex: 1;
            display: flex;
            align-items: center;
            align-content: center;
            position: relative;
        }
        .tabbar-item {
         flex-flow: column wrap;
        padding-top: 0;
        margin-bottom: 20px;
        padding-left: 2px;
        }   
        .nav-none{
            display: none;
        }
        .list-footer{
            display: none;
        }
        @keyframes bounce {
            0%       { top:400px; }
            25%, 75% { top:405px; }
            50%      { top:410px; }
            100%     {top:400px;}
          }
        .text-nav{
            color: black;
            font-size: 10px;
            text-transform: lowercase;
        }
        .hover-line:hover{
            border-bottom: none;
            transition: 1s;
            color: rgb(105, 28, 72);
        }
        .buttom-responsive{
            display: inline;
            position: fixed;
            z-index: 1;
            left: 27em;
            bottom: 54px;  
              }
        
        .circle-nav{
                height: 42px;
                width: 42px;
                background-color:rgba(105, 28, 72, 1);
                border-radius: 50%;
                display: inline-block;
                box-shadow: 2px 2px 3px 1px rgba(1,1,1,0.3);
        }
        
        .buttom-responsive{
            display: block;
        }

        .icon-ajust{
            font-size: 16px; 
            display: block;
        }
      
}
    
   
  

