@font-face {
  font-family: montserrat-light !important;
  src: url("../../src/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: montserrat-semibold !important;
  src: url("../../src/fonts/Montserrat-SemiBold.ttf");
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
    width: auto !important;
  }
}
#scroll-d {
  animation: bounce 3s infinite;
  cursor: pointer;
}
#scroll-d {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #f0ffff;
  font-size: 6em;
  font-weight: 200;
}
@keyframes bounce {
  0% {
    top: 450px;
  }
  25%,
  75% {
    top: 455px;
  }
  50% {
    top: 460px;
  }
  100% {
    top: 445px;
  }
}
.background-home {
  background: rgba(105, 28, 72, 1);
  height: 500px;
}

.ajust-text-conteudo {
  font-weight: bold;
  font-style: italic;
}

.background-img {
  background-image: linear-gradient(
      rgba(105, 28, 72, 0.7),
      rgba(105, 28, 72, 0.6)
    ),
    url("../img/forte.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  height: 660px;
}

.text-color {
  color: white;
  font-family: Georgia;
}

.background-footer {
  background: rgba(105, 28, 72, 1);
  height: 500px;
}

.background-about {
  background: url("../../src/img/igreja_se/background-about01.png") no-repeat;
  background-size: cover;
}

.ajuste-tela,
.row {
  margin-right: 0 !important;
}

.ajust-title-conteudo {
  color: #707070;
  letter-spacing: 4px;
  border-spacing: 2px;
}

.line-border-title {
  border-top: 2px solid #fff;
}

.color-input {
  color: white;
}

.nav-inferior {
  display: none;
}

.patrimonio_home {
  text-decoration: none;
  color: black;
}
